.banner {
    background: url("../image/banner.png") center no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: #ffffff;
    max-width: 1770px;
    min-height: 480px;
    margin-bottom: 60px;
}

.banner__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    padding: 145px 20px 0 112px;
    margin-bottom: 100px;
}

.banner__stocks {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}

.banner-countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.banner-countdown__time {
    display: flex;
    align-items: center;
}

.banner-countdown__number {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    margin-right: 6px;
}

.banner-countdown__number:last-child {
    margin-right: 0;
}

.banner-countdown__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    padding-top: 20px;  
}

@media (max-width: 1024px) {

    .banner {
        background: url("../image/banner-1024.png") center no-repeat;
        background-size: cover;
        border-radius: 16px;
        color: #ffffff;
        max-width: 944px;
        min-height: 314px;
        margin-bottom: 50px;
    }

    .banner__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        padding: 80px 20px 0 80px;
        margin-bottom: 63px;
    }

    .banner-countdown {
        gap: 20px;
    }

    .banner-countdown__number {
        font-size: 40px;
        margin-right: 6px;
    }

    .banner-countdown__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        padding-top: 15px;  
    }

}


@media (max-width: 768px) {

    .banner__title {
        font-size: 30px;
    }

    .banner__stocks {
        font-size: 12px;
    }

    .banner-countdown__number {
        font-size: 30px;
    }

    .banner-countdown__text {
        font-size: 16px;
    }

}

